{{/*###
Handler=/mergers/katsumi
TitleBar=Katsumi Merger
MinPrivileges=2
*/}}
{{ define "tpl" }}

<div class="ui container">
    <div class="ui segment">
        <div class="ui raised segments">
            <h4 class="ui horizontal divider header">
                <i class="star icon"></i>Katsumi Merger
            </h4>
            <h3 style="text-align: center;">
                We are proud to announce that RealistikOsu is officially merging with Katsumi!
                This means that players who have previously had a Katsumi account are able to have all of their scores moved to RealistikOsu!
                This optional process allows you to enter your Katsumi credentials and have all of your scores be moved!
            </h3>
            <hr>
            <div class="ui stackable column grid">
                <div class="eight wide column">
                    <center><h2 style="padding-bottom: 0.5em;">Link</h2></center>
                    {{/* Check if they already merged, showing them a different page. */}}
                    {{ $merged := (qb "SELECT 1 AS bruh FROM merger_links WHERE rosu_id = ? AND src_server = 2 LIMIT 1" .Context.User.ID) }}
                    {{ if $merged.bruh }}
                        <center>
                            <i class="lock icon status-icon"></i>
                            {{ if .Context.User.ID }}
                                <h2>Account linked!</h2>
                                <h3>You may not link more than one account per merger!</h3>
                            {{ else }}
                                <h2>Not logged in!</h2>
                                <h3>You are not logged in therefore you cant link the account, please login and try again!</h3>
                            {{ end }}
                        </center>
                    {{ else }}
                        <form class="ui form" method="post" action="/mergers/katsumi">
                            <div class="field">
                                <label>Katsumi Username</label>
                                <input tabindex="1" type="text" name="username" placeholder="Username" value="" required="">
                            </div>
                            <div class="field">
                                <label>Katsumi Password</label>
                                <input tabindex="2" type="password" name="password" placeholder="Password" value="" required="">
                            </div>
                            <div class="ui right aligned segment">
                                <button tabindex="3" class="ui button inverted blue" type="submit">Link</button>
                            </div>
                        </form>
                    {{ end }}
                </div>
                <div class="eight wide column">
                    <center><h2 style="padding-bottom: 0.5em;">Statistics</h2></center>
                    <div class="ui right aligned">
                        <div class="ui lblue segment">
                            <div class="ui grid">
                                <div class="four wide column">
                                    <i class="angle double down lblue icon status-icon"></i>
                                </div>
                                <div class="twelve wide column">
                                
                                <p class="status-head">{{ .T "%s" (rediget "merger:scores_merged:2")}}</p>
                                <p class="status-footer">Scores Merged</p>
                                </div>
                            </div>
                        </div>
                        <div class="ui orange segment">
                            <div class="ui grid">
                                <div class="four wide column">
                                    <i class="users orange icon status-icon"></i>
                                </div>
                                <div class="twelve wide column">
                                    {{ $c_merged := (qb "SELECT COUNT(*) AS cnt FROM merger_links WHERE merged = 1 AND src_server = 2") }}
                                    <p class="status-head">{{ $c_merged.cnt }}</p>
                                    <p class="status-footer">Users Merged</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}