{{/* prettier-ignore-start */}}
{{/*###
Handler=/clan/manage
TitleBar=Manage Clan
Settings KyutGrill=settings2.jpg
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  {{ $ := . }}
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="centered twelve wide column">
        <div class="ui segment">
          {{ $d := qb "SELECT user, clan, perms FROM user_clans WHERE user = ? AND perms = 8 LIMIT 1" .Context.User.ID }}
          {{ $g := or $d.clan.Int -1 }}
          {{ if $d }}

            <h3 class="ui header">{{ .T "Clan Credentials" }}</h3>
            <div class="ui segment">
              {{ $o := (.Get "clans/isclan?uid=%d" .Context.User.ID).clan.clan }}
              {{ $c := qb "SELECT * FROM clans WHERE id = ? LIMIT 1" $o }}
              {{ $tag :=
                or $c.tag.String ""
              }}
              {{ $desc := or $c.description.String "" }}
              {{ $icon := or $c.icon.String "" }}
              {{ $bg := or $c.background.String "" }}
              <form
                id="register-form"
                class="ui form"
                method="post"
                enctype="multipart/form-data"
                action="/settings/clan">
                <div class="field">
                  <label>{{ "Clantag (2 to 6 characters)" }}</label>
                  <input
                    tabindex="1"
                    type="text"
                    name="tag"
                    placeholder="{{ $.T "Clantag" }}"
                    value="{{ $tag }}"
                    pattern="{2,6}$" />
                </div>

                <div class="field">
                  <label>{{ .T "Description" }}</label>
                  {{/* prettier-ignore-start */}}
									<textarea tabindex="1" class="monospace" name="description">{{ $desc }}</textarea>
                  {{/* prettier-ignore-end */}}
                </div>

                <div class="field">
                  <label>{{ "Icon (Optional)" }}</label>
                  <input
                    tabindex="1"
                    type="text"
                    name="icon"
                    placeholder="{{ $.T "Icon URL" }}"
                    value="{{ $icon }}"
                    />
                </div>

                {{ if has .Context.User.Privileges 4 }}
                  <div class="field">
                    <label>{{ .T "Background URL (Optional)" }}</label>
                    <input
                      tabindex="4"
                      type="url"
                      name="bg"
                      placeholder="{{ $.T "Background URL" }}"
                      value="{{ $bg }}" />
                  </div>
                {{ end }}
                {{ ieForm .Gin }}
              </form>
              <br />
              <div class="ui divider"></div>
              <div style="text-align: right">
                <button
                  tabindex="5"
                  class="ui inverted blue primary button"
                  type="submit"
                  form="register-form">
                  {{ .T "Save" }}
                </button>
              </div>
            </div>
          </div>
            <div class="ui segment">
              <h3 class="ui header">{{ .T "Invite" }}</h3>
              <div class="ui segment">
                <div style="background: transparent;" class="ui two item menu" id="join-menu">
                  {{ with .Get "clans/getinvite?id=%d" .Context.User.ID }}
                    <input
                      class="item"
                      type="text"
                      value="https://ussr.pl/clans/invite/{{ .invite }}"
                      href="https://ussr.pl/clans/invite/{{ .invite }}"
                      style="background-color: rgba(0, 0, 0, 0.6); border: 2px solid rgba(255,255,255,.20); border-radius: 1rem;" />
                  {{ end }}
                </div>
                <div class="ui divider"></div>
                <div style="display: flex;justify-content: end;align-content: center;">
                    <form action="/settings/clan" method="POST">
                      {{ ieForm .Gin }}
                      <div
                        class="five wide column right floated"
                        style="margin-right: 0.5em">
                        <button
                          type="submit"
                          class="ui inverted right green button">
                          {{ $.T "Generate a new invite!" }}
                        </button>
                      </div>
                    </form>
                    <form action="/c/{{ $o }}" method="POST">
                      {{ ieForm .Gin }}
                      <div class="five wide column right floated">
                        <button
                          type="submit"
                          class="ui inverted right red button">
                          {{ $.T "Disband Clan!" }}
                        </button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          {{ else }}
            <div style="font-size: 20px">
              {{ $.T "You can only manage a clan if you own it!" }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
