{{/*###
NoCompile=true
*/}}
{{ define "settingsSidebar" }}
<div class="four wide column">
	<div class="ui fluid vertical menu">
		{{ navbarItem .Path (.T "Profile") "/settings" }}

		{{ navbarItem .Path (.T "Userpage") "/settings/userpage" }}

		{{ navbarItem .Path (.T "Avatar") "/settings/avatar" }}

		{{ navbarItem .Path (.T "Password") "/settings/password" }}

		{{/* Stuff for donators */}}
		{{/* if has .Context.User.Privileges 4 */}}
		
		{{ $d := printf `<div class="ui yellow horizontal mini label">%s</div>` (.T "Supporter") }}
		{{ navbarItem .Path (printf "%s %s" (.T "Profile Background") $d) "/settings/profbackground" }}

		{{/* end */}}
	</div>
</div>
{{ end }}

{{ define "supporter_only" }}
<div class="ui icon message black ds">
    <div class="content">
        <div class="header">
            {{ .T "This feature is restricted to RealistikOsu supporters only..." }}
        </div>
        <p>
            {{ .T "<a href='/donate'>Purchase supporter</a> to access this feature along with countless other features!" | html }}
        </p>
    </div>
    <i class="blue lock icon"></i>
</div>
{{ end }}
