{{/*###
NoCompile=true
*/}}
{{ define "settingsSidebar" }}
<div class="four wide column">
	<div class="ui fluid vertical menu">
		{{ navbarItem .Path (.T "Profile") "/settings" }}

		{{ navbarItem .Path (.T "Userpage") "/settings/userpage" }}

		{{ navbarItem .Path (.T "Avatar") "/settings/avatar" }}

		{{ navbarItem .Path (.T "Password") "/settings/password" }}

		{{ navbarItem .Path (.T "Discord Linking") "/settings/discord-integration" }}

		{{ $d := qb "SELECT 1 FROM user_clans WHERE user = ? AND perms = 8 LIMIT 1" .Context.User.ID }}
		{{ if $d }}
			{{ navbarItem .Path (.T "Clan Settings") "/settings/clan" }}
		{{ else }}
			{{ navbarItem .Path (.T "Create Clan") "/clans/create" }}
		{{ end }}

		{{/* Stuff for donators */}}
		{{/* if has .Context.User.Privileges 4 */}}
		
		{{ $d := printf `<div class="ui yellow horizontal mini label">%s</div>` (.T "Supporter") }}
		{{ navbarItem .Path (printf "%s %s" (.T "Profile Banner") $d) "/settings/profbanner" }}

		{{/* end */}}
	</div>
</div>
{{ end }}

{{ define "supporter_only" }}
<div class="ui icon message black ds">
    <div class="content">
        <div class="header">
            {{ .T "This feature is restricted to RealistikOsu supporters only..." }}
        </div>
        <p>
            {{ .T "<a href='/donate'>Purchase supporter</a> to access this feature along with countless other features!" | html }}
        </p>
    </div>
    <i class="blue lock icon"></i>
</div>
{{ end }}
