{{/*###
Handler=/friends
TitleBar=Friends
MinPrivileges=2
KyutGrill=friends.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui segment">
			{{ .T "On this page you can see all of your friends, and unfriend them as you see fit." }}
		</div>
		<div class="ui segment">
			{{ $ := . }}
			{{ $page := or (atoint (.Gin.Query "p")) 1 }}
			{{ $friends := .Get "friends?p=%d&l=40&sort=username,asc" $page }}
			{{ with $friends }}
				<div class="ui five column stackable grid">
					{{ range .friends }}
					<div class="column" {{ if not (has .privileges 1) }}style="opacity: 0.5"{{ end }}>
						<div class="ui fluid card profile-card" style="border-radius: 1rem;text-align: center;">
							<div class="image" style="border-radius: 1rem !important;display: flex;justify-content: center;">
								<img src="{{ config "APP_AVATAR_URL" }}/{{ .id }}" alt="Avatar" style="border-radius: 1rem;width: 197px;height: 197px;object-fit: cover;">
							</div>
							<div class="extra content">
								<a class="header link-text" href="/users/{{ .id }}" style="display: flex;align-items: center;gap: 5px;justify-content: center;margin-bottom: 10px;">
									{{ country .country false }} {{ .username }}
								</a>

								<div id="friend-button" class="ui compact labeled button link-text" style="display:flex;justify-content: center;"
									data-userid="{{ .id }}">
									<i class="{{ if .is_mutual }}red heart{{ else }}green minus{{ end }} icon"></i>
									<span>{{ if .is_mutual }}{{ $.T "Mutual" }}{{ else }}{{ $.T "Remove" }}{{ end }}</span>
								</div>
							</div>
						</div>
					</div>
					{{ end }}
				</div>
			{{ end }}
		</div>
		{{ $left := gt $page 1 }}
		{{ $right := eq (len (rsin $friends.friends)) 40 }}
		{{ if or $left $right }}
			<div class="ui right aligned segment">
				<div class="ui pagination menu">
					{{ if $left }}
						<a class="icon item" href="/friends?p={{ minus (float $page) 1 }}">
							<i class="left chevron icon"></i>
						</a>
					{{ end }}
					{{ if $right }}
						<a class="icon item" href="/friends?p={{ plus (float $page) 1 }}">
							<i class="right chevron icon"></i>
						</a>
					{{ end }}
				</div>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}