{{ define "navbar" }}
{{ $isRAP   := and (hasAdmin .Context.User.Privileges) (isRAP .Path) }}
{{ $isAdmin := hasAdmin .Context.User.Privileges }}
{{ $ds      := band .ClientFlags 1 }}
<div class="ui secondary fixed-height stackable white background main menu no margin bottom{{ if .DisableHH }} dropped{{ end }}" id="navbar">
	<img navbar class="navbar-image" id="navimg" src="/static/images/navbar.png">
	<div class="ui container responsive">
		<div class="item">
			<a href="/" title="{{ .T "Home Page" }}"><img class="ripple logo" alt="Realistik!" style="max-height: 35px;" src="/static/images/new-logo.svg"></a>
		</div>
		{{ if $isRAP }}
			{{/*
			Note:
				RAP navbar will be completely different from standard navbar,
				meaning it will have the buttons and all the stuff that are in
				the current RAP's sidebar.
			*/}}
		{{ else }}
			{{ navbarItem .Path (.T "Leaderboard") "/leaderboard" }}
			<div class="ui dropdown item">
				<span>{{ .T "Clan" }}</span>
				<div class="menu">
					{{ if .Context.User.Username }}
						{{ $isClan := qb "SELECT user, clan FROM user_clans WHERE user = ?" .Context.User.ID }}
						{{ $clanOwner := qb "SELECT 1 FROM user_clans WHERE user = ? AND perms = 8 LIMIT 1" .Context.User.ID }}
						{{ if $isClan }}
							{{ navbarItem .Path (.T "My Clan") ($isClan.clan | printf "/c/%s") }}
							{{ if $clanOwner }}
								{{ navbarItem .Path (.T "Manage Clan") "/clan/manage" }}
							{{ end }}
						{{ else }}
							{{ navbarItem .Path (.T "Create Clan") "/clans/create" }}
						{{ end }}
					{{ end }}
					{{ navbarItem .Path (.T "Leaderboard") "/clanboard" }}
				</div>
			</div>
			<div class="ui dropdown item">
				<span>{{ .T "Support" }}</span>
				<div class="menu">
					{{ navbarItem .Path (.T "Rules") "/doc/rules" }}
					{{ navbarItem .Path (.T "Documentation") "/doc" }}
					{{ navbarItem .Path (.T "Connection Guide") "/connect" }}
					{{ navbarItem .Path (.T "Our Team") "/team" }}
				</div>
			</div>
			<div class="ui dropdown item">
				<span>{{ .T "Beatmaps" }}</span>
				<div class="menu">
					{{ navbarItem .Path (.T "Beatmap Listing") "/beatmap_listing" }}
					{{ if .Context.User.Username }}
						{{ navbarItem .Path (.T "Request Beatmap") "/rank_request" }}
					{{ end }}
				</div>
			</div>
		{{ end }}
		<div class="firetrucking-right-menu">
			{{ if .Context.User.Username }}
				{{ navbarItem .Path (.T "❤ Support us!") "/donate" }}
			{{ end }}
			<div class="item">
				<div class="ui search" id="user-search">
					<div class="ui icon input">
						<input class="prompt" type="text" placeholder="{{ .T "Looking for someone?" }}" id="user-search-input">
						<i class="search link icon"></i>
					</div>
				</div>
			</div>
			{{ if .Context.User.Username }}
				<div class="ui dropdown item">
					<div style="display: flex; gap: 9px; align-items: center;">
						<span>{{ .T "Hi" }} <b>{{ .Context.User.Username }}</b></span>
						<img id="avatar" class="ui avatar image" src="{{ config "AvatarURL" }}/{{ .Context.User.ID }}">
					</div>
					<div class="menu">
						{{ navbarItem .Path (.T "Profile") (printf "/u/%d" .Context.User.ID) }}
						{{ navbarItem .Path (.T "Friends") "/friends" }}
						{{ navbarItem .Path (.T "Settings") "/settings" }}
						{{ if $isAdmin }}
							{{ navbarItem .Path (.T "Admin Panel" | printf "<b>%s</b>") "https://old.ussr.pl" }}
						{{ end }}
						{{ navbarItem .Path (.T "Log out") (printf "/logout?k=%s" (.Session.Get "logout")) }}
					</div>
				</div>
			{{ else }}
				{{ navbarItem .Path (.T "Log in") "/login" }}
				{{ navbarItem .Path (.T "Register") "/register" }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
