{{/* prettier-ignore-start */}}
{{/*###
Handler=/patcher
TitleBar=RealistikOsu Patcher
BannerContent=documentation.jpg
BannerType=1
*/}}
{{/* prettier-ignore-end */}}
{{ define "tpl" }}
  <!--
    Stolen 🇷🇴
  -->
  <div class="ui container">
    <div class="ui segment">
      <div class="ui raised segments">
        <h3 class="ui centered">
          RealistikOsu patcher is a simple tool made to enhance your RealistikOsu Relax
          experience!
          <br />
          It restores critical features such as ranking panels to your relax
          gameplay, sweetening the already great experience.
          <br />
          Simply run the installer to install the patcher into your PC. Then just run it to play RealistikOsu!
        </h3>
        <div class="ui divider"></div>
        <div class="ui stackable column grid">
          <div class="eight wide column">
            <h2 class="ui centered">Enable Relax Misses</h2>
            <img src="/static/images/patcher_relax_misses.jpg" />
          </div>
          <div class="eight wide column">
            <h2 class="ui centered">Customisable Feature Set</h2>
            <img src="/static/images/patcher_settings.jpeg" />
          </div>
        </div>
        <div class="ui raised segments centered aligned">
          <h4 class="ui horizontal divider header">
            <i class="save icon"></i>
            Download
          </h4>
          <h5>
            The RealistikOsu patcher is a simple app that manages the initialisation of the patcher.
          </h5>
            <a
              class="ui green button"
              href="/static/patcher.exe">
              <i class="angle double down icon"></i>
              Download Patcher
            </a>
        </div>
      </div>
    </div>
  </div>
{{ end }}
