{{ define "tpl" }}
{{ $isLinked := qb "SELECT discord_id FROM discord_oauth WHERE user_id = ?" .UserID }}
{{ $discordID := $isLinked.discord_id.String }}
<style>
	.discord-btn {
		position: relative;
		display: inline-block;
		background: none;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border: none;
		font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
		font-weight: 400;
		line-height: 18px;
		padding: 0 20px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		text-align: center;
		-webkit-transition: all .17s ease-out;
		transition: all .17s ease-out;
		white-space: nowrap;
		color: #fff;
		font-size: 15px;
		padding: 5px 16px;
		border-radius: 50px;
		background: #5865F2;
	}

	.discord-btn:hover {
		background: #3C45A5;
	}

	.discord-btn-container {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		height: 100%;
		position: relative;
	}

	.discord-btn-content {
		-webkit-transition: all .17s ease-out;
		transition: all .17s ease-out;
	}

	.underlined:hover {
		text-decoration: underline;
	}
</style>
<link rel="stylesheet" href="/static/profiles/profile.css">
<link rel="stylesheet" href="/static/profiles/comments.css">
<div class="ui container">
	{{ if .UserID }}
		{{ $realistik := eq .UserID 1000 }}
		{{ $gqm := atoi (.Gin.Query "mode") }}
		{{ $relax := _or (atoi (.Gin.Query "rx")) (int 0)}}
		{{ $global := . }}
		{{ with (.Get "users/full?id=%d" .UserID) }}
			{{ $favouritemode := _or $gqm .favourite_mode }}
			<script>
				window.preferRelax = {{ $relax }};
				window.favouriteMode = {{ $favouritemode }};
				window.userID = {{ .id }};
				window.userProfileName = {{ .username }};
				window.followers = {{ with $.Get "users/followers?userid=%d" $.UserID }} {{ .allFriended }} {{ end }};
				window.hasAdmin = {{ hasAdmin $global.Context.User.Privileges }};

				//swap them round on mobile so the order isnt weird for them
				document.addEventListener('DOMContentLoaded', (event) => {
					if (MobileCheck()) {
						var left = document.getElementById("left");
						var right = document.getElementById("right");

						var RightText = right.innerHTML
						right.innerHTML = left.innerHTML
						left.innerHTML = RightText;
					}
				})
			</script>
			{{ if after .silence_info.end }}
				<div class="ui error centered message black">
					<div class="content">
						{{ $global.T "<p>User is <b>silenced</b> for %s, expires %s.</p>" (.silence_info.reason | htmlescaper) (time .silence_info.end) | html }}
					</div>
				</div>
			{{ end }}
			{{ if hasAdmin $global.Context.User.Privileges }}
				{{ $restr := not (has .privileges 1) }}
				{{ $disab := not (has .privileges 2) }}
				{{ $pend  := has .privileges 1048576 }}
				{{ if and $disab $restr }}
					{{ if $pend }}
						<div class="ui warning centered message black">
							<div class="content">
								{{ $global.T "<p>User is <b>pending verification</b></p>" | html }}.
							</div>
						</div>
					{{ else }}
						<div class="ui error centered message black">
							<div class="content">
								{{ $global.T "<p>User is <b>banned</b>.</p>" | html }}
							</div>
						</div>
					{{ end }}
				{{ else if $restr }}
					<div class="ui error centered message black">
						<div class="content">
							{{ $global.T "<p>User is <b>restricted</b>.</p>" | html }}
						</div>
					</div>
				{{ else if $disab }}
					<div class="ui error centered message black">
						<div class="content">
							{{ $global.T "<p>User is <b>locked</b></p>." | html }}
						</div>
					</div>
				{{ end }}
			{{ end }}
			{{ if $global.Frozen }}
				<div class="ui warning centered message black">
					<div class="content">
						{{ $global.T "<p>User is <b>frozen</b>. This means they have to provide a liveplay or else they will be automatically restricted.</p>" | html }}
					</div>
				</div>
			{{ else if has .privileges 1073741824 }}
				<div class="ui warning centered message black">
					<div class="content">
						{{ $global.T "<p>This is a <b>bot account</b>. This means that it does not represent a player, but rather is meant to offer in-game functionality.</p>" | html }}
					</div>
				</div>
			{{ end }}
			
			{{ $user := . }}
			<meta name="og:image" content="https://a.ussr.pl/{{ $user.id }}"/>
			<meta property="og:type" content="website" />
			<meta property="og:url" content="https://ussr.pl/u/{{ $user.id }}" />
			<meta property="og:title" content={{ $global.T "<b>%s</b>" .username }} />
			<meta property="og:description" content={{ $global.T "<b>%s</b> is a RealistikOsu! player from <b>%s</b>." .username (country .country true) }} />
			<meta property="og:image" content="https://ussr.pl/{{ $user.id }}" />
			<div class="ui stackable column grid">
				<div class="ten wide column" id="left">
					{{ with $global.Get "users/userpage?id=%.0f" .id }}
						{{ if .userpage }}
							{{ with parseUserpage .userpage }}
								<div class="ui raised segment twemoji" id="userpage-content">
									{{ html . }}
								</div>
							{{ end }}
						{{ end }}
					{{ end }}
					<div id="scores-zone">
						{{ range _range 4 }}
							<div data-mode="{{ . }}" data-rx="0" {{ if _or (ne . (int $favouritemode)) (ne 0 (int $relax)) }} hidden{{ end }} data-loaded="0"></div>
							<div data-mode="{{ . }}" data-rx="1" {{ if _or (ne . (int $favouritemode)) (ne 1 (int $relax)) }} hidden{{ end }} data-loaded="0"></div>
							<div data-mode="{{ . }}" data-rx="2" {{ if _or (ne . (int $favouritemode)) (ne 2 (int $relax)) }} hidden{{ end }} data-loaded="0"></div>
						{{ end }}
					</div>
					<div class="ui modal">
						<i class="close icon"></i>
						<div class="content">
							<table class="ui definition table" id="score-data-table">
							</table>
						</div>
					</div>
				</div>
				<div class="six wide column" id="right">
					<div style="margin: 0 !important;padding: 0;text-align: center;" class="ui top attached segment auto">
						<div style="margin: 0;filter: blur(5p);">
						{{ if $.ProfileBackground }}
							<div style="background-image: url({{ $.ProfileBackground }});min-height: 200px;width: 100%;background-size: cover;background-position: center;box-shadow: 0px 5px 10px #090909;" class="">
						{{ else if $.ProfileColour }}
							<div style="background-color: {{ $.ProfileColour }};min-height: 200px;width: 100%;background-size: cover;background-position: center;box-shadow: 0px 5px 10px #090909;" class="">
						{{ else }}
							<div style="background-image: url(/static/image/banner_bg.png);min-height: 200px;width: 100%;background-size: cover;background-position: center;box-shadow: 0px 5px 10px #090909;" class="">
						{{ end }}
								<div style="padding: 2px;font-size: 25px;background-color: #0000009c;display: flex;justify-content: center;">
									{{ range $kp, $vp := (slice .stats.vn .stats.rx .stats.ap) }}
										{{ range $k, $v := (slice $vp.std $vp.taiko $vp.ctb $vp.mania) }}
											<span data-rx="{{ $kp }}" data-mode="{{ $k }}"{{ if _or (ne $k (int $favouritemode)) (ne $kp (int $relax)) }} hidden{{ end }}>
												{{ if eq (int $v.global_leaderboard_rank) (int 1) }}
													<i class="trophy line small circular icon yellow"></i>
												{{ else if eq (int $v.global_leaderboard_rank) (int 2)}}
													<i class="trophy line small circular icon grey"></i>
												{{ else if eq (int $v.global_leaderboard_rank) (int 3)}}
													<i class="trophy line small circular icon brown"></i>
												{{ else }}
													<i class="trophy line small circular icon"></i>
												{{ end }}
											</span>
											<span data-rx="{{ $kp }}" style="margin-top:8px;" data-mode="{{ $k }}"{{ if _or (ne $k (int $favouritemode)) (ne $kp (int $relax)) }} hidden{{ end }}>
												{{ with and $v $v.global_leaderboard_rank }}
													#{{ . }}
												{{ else }}
													{{ $global.T "-" }}
												{{ end }}
											</span>
										{{ end }}
									{{ end }}
								</div>
							</div>
						</div>
						<!--Profile image-->
						<!-- We will use delta api here so well just create div with id and allow js to do a job. -->
						<div id="avatar-canvas">
							<img alt="avatar" src="https://a.ussr.pl/{{ $user.id }}" style="border-radius: 100%;width: 125px;margin-top: -6rem; box-shadow: 0px 0px 15px #000000;">
							</div>
						<!--Hello fellow developers! Please do not steal this like you did with the score beatmap images.
						At least if you do, please credit me (RealistikDash) in your team changes. I know who did it as
						I have a very distinct code style.
						Plus your implementations did not remove the rosu specific theme aspects, meaning they were
						direct copies without adaptations for your site.
						-->
						<!--Bottom part-->
						<div style="margin-top: 1rem;margin-bottom: 1rem;">

							<h1 id="rainbow" class="ui header">
								<span id="highlight" style="font-size: 40px;font-weight:normal;">
									<div id="nickname" style="display: inline-block;">
										{{ .username }}
									</div>
									<a style="display: inline-block;" data-tooltip="{{ countryReadable .country }}" href="/leaderboard?c={{ .country }}">
										<img style="margin-bottom: -0.14em" src="/static/images/new-flags/flag-{{ stringLower .country }}.svg" width="35">
									</a>
								</span>
							</h1>
							{{ $oof := . }}
							{{ if ne $oof.clan.name "" }}
								<a href="/c/{{ $oof.clan.id }}" style="color: #ffffff;"><span style="font-size: 20px;">{{ $global.T "%s" ($oof.clan.name) }}</span></a>
							{{ end }}

							{{ if _or (has .privileges 8) (has .privileges 4) }}
								<script>
									if (!MobileCheck()) {
										{{ if (has .privileges 8) }}
											document.getElementById('nickname').style['background-image'] = "url(/static/image/rainbow.webp)";
										{{ else }}
											document.getElementById('nickname').style['background-image'] = "url(/static/image/supporter.gif)";
										{{ end }}
										document.getElementById('nickname').style["background-clip"] = "text";
										document.getElementById('nickname').style["-webkit-background-clip"] = "text";
										document.getElementById('nickname').style.color = "transparent";
									}
								</script>
							{{ end }}
							<!--BADGES!!! THIS WILL BE HELL PLEASE HELP.-->
							<div class="" style="font-size: 2rem;margin-top: 11px;">
								{{ if .badges }}
									{{ range .badges }}
										<span class data-tooltip="{{ .name }}" data-inverted="">
											<i class="{{ faIcon .icon }} small icon circular"></i>
										</span>
									{{ end }}
								{{ end }}
								{{ if .custom_badge  }}
									{{ with .custom_badge }}
										<span class data-tooltip="{{ .name }}" data-inverted="">
											<i class="{{ faIcon .icon }} small icon circular"></i>
										</span>
									{{ end }}
								{{ end }}
							</div>
							<!--Cool Buttons for cool stuff.-->
							<div style="margin: 10px">
								{{ if and (ne $global.Context.User.ID $global.UserID) (ne $global.Context.User.ID 0) }}
									<a class="ui button inverted loading" id="add-friend-button"></a>
								{{ end }}
								{{ if hasAdmin $global.Context.User.Privileges }}
									<a href="https://old.ussr.pl/user/edit/{{ $global.UserID }}" class="ui button red inverted">Edit User</a>
								{{ end }}
								{{ if eq $global.UserID $global.Context.User.ID }}
									<a href="/settings/avatar" class="ui button inverted purple">Change Avatar</a>
								{{ end }}
							</div>
						</div>
					</div>
					<div class="ui three item bottom attached menu" id="rx-menu" style="margin-bottom: 0;">
						<a id="clickVanilla" class="item {{ if eq 0 (int $relax) }}active{{ end }}" data-rx="0" href="/u/{{ $user.id }}?mode={{ $favouritemode }}&rx=0">Vanilla</a>
						<a id="clickRelax" class="item {{ if eq 1 (int $relax) }}active{{ end }}" data-rx="1" href="/u/{{ $user.id }}?mode={{ $favouritemode }}&rx=1">Relax</a>
						<a id="clickAutopilot" class="item {{ if eq 2 (int $relax) }}active{{ end }}" data-rx="2" href="/u/{{ $user.id }}?mode={{ $favouritemode }}&rx=2">Autopilot</a>
					</div>
					<div class="ui four item bottom attached menu" id="mode-menu">
						{{ range $k, $v := modes }}
							<a id="click{{ $v }}" class="{{ favMode $favouritemode $k }}item" data-mode="{{ $k }}" href="/u/{{ $user.id }}?mode={{ $k }}&rx={{ $relax }}">{{ $v }}</a>
						{{ end }}
					</div>
					<div class="ui segment" style="padding-top: 1px;">
						<br>{{ $global.T "<i class='fas fa-sign-in-alt'></i> They joined <b>%s</b>" (time $user.registered_on) | html }}
						<br>{{ $global.T "<i class='fas fa-sign-out-alt'></i> Last seen <b>%s</b>" (time $user.latest_activity) | html }}
						<br>{{ with playstyle $user.play_style $global }}{{ $global.T "<i class='fas fa-mouse'></i> They play with <b>%s</b>" . | html }}{{ end }}
						{{ if $isLinked }}
							{{ with dcAPI $discordID }}
								<h4 class="ui horizontal divider header" style="margin: 6px;">Linked Accounts</h4>
								<div style="justify-content: center; display: flex;">
										<span onmouseover="ensureSpan()" id="clipboard-dc" data-tooltip="Copy to clipboard.">
										<a onclick="copyToTray('{{ .data.username }}#{{ .data.discriminator }}')">
											<div class="discord-btn">
												<div class="discord-btn-container" style="flex: 1 1 auto;">
													<span class="discord-btn-content">
														<i aria-hidden="true" class="fab fa-discord"></i>
														<span class="underlined">{{ .data.username }}#{{ .data.discriminator }}</span>
													</span>
												</div>
											</div>
										</a>
									</span>
								</div>
							{{ end }}
						{{ end }}

					</div>
					<!--Rank Graph-->
					<div class="ui segment" id="GraphSegment">
						{{ range $rxk, $rxv := (slice .stats.vn .stats.rx .stats.ap) }}
							{{ range $k, $v := (slice $rxv.std $rxv.taiko $rxv.ctb $rxv.mania) }}
								<div data-mode="{{ $k }}" data-rx="{{ $rxk }}" {{ if _or (ne $k (int $favouritemode)) (ne $rxk (int $relax)) }} hidden{{ end }}>
									<div style="display: flex;justify-content: left;">
										<div class="realistik-thingies">
                                            <div style="position: relative;width: 120%;top: 9px;" class="ui table score-table purple"></div>
                                            <b>PP</b>
											{{ with .pp }}
												<p>{{ humanize . }}</p>
											{{ else }}
												<p>{{ $global.T "-" }}</p>
											{{ end }}
                                        </div>
			                        	<div class="realistik-thingies" style="position: relative;margin-left: 30px">
			                        		<div class="ui table score-table blue" style="position: relative;width: 100%;top: 9px;"></div>
			                          		<b>Global Ranking</b>
			                          		{{ with .global_leaderboard_rank }}
			                          			<p>#{{ . }}</p>
											{{ else }}
												<p>{{ $global.T "-" }}</p>
			                          		{{ end }}
			                          	</div>
			                          	<div class="realistik-thingies" style="position: relative;margin-left: 30px">
			                          		<div class="ui table score-table green" style="position: relative;width: 100%;top: 9px"></div>
			                          		<b>Country Ranking</b>
			                          		{{ with .country_leaderboard_rank }}
			                          			<p>#{{ . }}</p>
											{{ else }}
												<p>{{ $global.T "-" }}</p>
			                          		{{ end }}
			                          	</div>
			                        </div>
		                    	</div>
		                    {{ end }}
		                {{ end }}
						<canvas id="ProfileGraph" height="130" style="margin-top: 15px"></canvas>
					</div>
					<div class="ui segment">
						{{ range $rxk, $rxv := (slice .stats.vn .stats.rx .stats.ap) }}
							{{ range $k, $v := (slice $rxv.std $rxv.taiko $rxv.ctb $rxv.mania) }}
								<div data-mode="{{ $k }}" data-rx="{{ $rxk }}" {{ if _or (ne $k (int $favouritemode)) (ne $rxk (int $relax)) }} hidden{{ end }}>
									<div style="display:flex;justify-content:center;">
										<p style="position:relative; top: 11px;font-size:20px;">Level</p>
										<div class="level-frame">{{ level .level }}</div>
									</div>
									<div class="container">
					                    <div class="progress2 progress-moved" style="position: relative; top: 5px;--bar-percentage: {{ levelPercent .level }}%;">
					                      <div class="progress-bar2"></div>
					                    </div>
					                    <p style="position: relative; display: flex; justify-content: end; margin-top: 5px;">{{ levelPercent .level }}%</p>
					                </div>
					                <div class="" style="margin-bottom: 1rem;"></div>
									<table class="ui very basic two column compact table nopad">
										<tbody>
											<tr>
												<td><b>{{ $global.T "Accuracy" }}</b></td>
												<td class="right aligned">{{ printf "%.2f" .accuracy }}%</td>
											</tr>
											<tr>
												<td><b>{{ $global.T "Maximum Combo" }}</b></td>
												<td class="right aligned">{{ .max_combo }}</td>
											</tr>
											<tr>
												<td><b>{{ $global.T "Ranked Score" }}</b></td>
												<td class="right aligned">{{ humanize .ranked_score }}</td>
											</tr>
											<tr>
												<td><b>{{ $global.T "Total Score" }}</b></td>
												<td class="right aligned">{{ humanize .total_score }}</td>
											</tr>
											<tr>
												<td><b>{{ $global.T "Playcount" }}</b></td>
												<td class="right aligned">{{ humanize .playcount }}</td>
											</tr>
											<tr>
												<td><b>{{ $global.T "Followers" }}</b></td>
												<td class="right aligned">{{ with $.Get "users/followers?userid=%d" $.UserID }} {{ .subscount }} {{ end }} </td>
											</tr>
											<tr>
												<td><b>{{ $global.T "Replay Views" }}</b></td>
												<td class="right aligned">{{ humanize .replays_watched }}</td>
											</tr>
											<tr>
												<td><b>{{ $global.T "Total Hits" }}</b></td>
												<td class="right aligned">{{ humanize .total_hits }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							{{ end }}
						{{ end }}
					</div>
				</div>
			</div>
		{{ end }}

		<div id="comments">
			{{ with (.Get "users/comments/info?id=%d" .UserID) }}
				<h4 class="ui horizontal divider header">
					Comments (<span id="total-comments">{{ if .disabled }}0{{ else }}{{ .total }}{{ end }}</span>)
				</h4>

				{{ if .disabled }}
					<div class="ui segment comment-login">
						<div class="ui icon message black ds">
							<i class="lock icon"></i>
							<p>This user has disabled comments!</p>
						</div>
					</div>
				{{ else }}
					{{ if $global.Context.User.Username }}
						<div class="ui grid">
							<div class="two wide column">
								<img src="https://a.ussr.pl/{{ $global.Context.User.ID }}">
							</div>
							<div class="fourteen wide column">
								<textarea id="comment-text" placeholder="Write a comment..." maxlength="380"></textarea>
								<span id="comment-max">0/380</span>
								<button id="comment-submit" class="disabled ui button inverted pink" onclick="post()">Comment</button>
							</div>
						</div>
					{{ else }}
						<div class="ui segment comment-login">
							<div class="ui icon message black ds">
								<i class="lock icon"></i>
								<p>Please login to submit a comment!</p>
							</div>
						</div>
					{{ end }}
					
					<div id="user-comments">
						<div id="comments-list" class="ui comments"></div>
						<button id="comment-load" onclick="moreComments()" class="ui button inverted purple">Load</button>
					</div>
				{{ end }}
			{{ end }}

			
		</div>
		<script src="/static/profiles/comments.js"></script>
	{{ end }}
	<script>
		function copyToTray(userDiscord) {
			var dummy = document.createElement("textarea");
			// to avoid breaking orgain page when copying more words
			// cant copy when adding below this code
			// dummy.style.display = 'none'
			document.body.appendChild(dummy);
			
			dummy.value = userDiscord;
			dummy.select();
			document.execCommand("copy");
			document.body.removeChild(dummy);
			document.getElementById("clipboard-dc").setAttribute("data-tooltip", "Copied to clipboard!");
		}

		function ensureSpan() {
			data = document.getElementById("clipboard-dc").getAttribute("data-tooltip");

			if (data == "Copied to clipboard!") {
				document.getElementById("clipboard-dc").setAttribute("data-tooltip", "Copy to clipboard.");
			}
		}
	</script>
</div>
{{ end }}
