{{/*###
Handler=/rank_request
TitleBar=Request Beatmap Ranking
KyutGrill=request_beatmap_ranking.jpg
MinPrivileges=2
*/}}
{{ define "tpl" }}
{{ $ := . }}
<div class="ui container">
	<div class="ui raised segment center aligned">
		{{ $f := ieForm .Gin }}
		<h4>{{ .T "Want to play an unranked beatmap and get pp? You can submit beatmaps rank requests here!" }}</h4>
		{{ with .Get "beatmaps/rank_requests/status" }}
			<h4 class="ui horizontal divider header">
				<i class="wait icon"></i>
				{{ $.T "Queue status" }}
			</h4>
			<h2 style="display: inline; font-weight: normal;"><span id="queue-info">{{ .submitted }}/{{ .queue_size }}</span> <i{{ if not .submitted_by_user }} hidden{{ end }} id="by-you">(<span id="submitted-by-user">{{ .submitted_by_user }}</span>/<span id="max-per-user">{{ .max_per_user }}</span> {{ $.T "by you" }})</i></h2><br>
			<h3 style="display: inline; font-weight: normal;">{{ $.T "Requests submitted" }}</h3><br>
			<h4 style="display: inline; font-weight: normal;">{{ $.T "In the past 24 hours" }}</h4><br>
			{{ $perc := perc .submitted .queue_size }}
			<div class="ui container" style="width: 50%; margin-top: 8px; margin-bottom: 8px;">
				<div class="progress2 progress-moved" style="position: relative; top: 5px;--bar-percentage: {{ $perc }}%;">
                  <div class="progress-bar2"></div>
	            </div>
	            <p style="position: relative; top: 6px;right:-257px;">{{ $perc }}%</p>
				<!-- <div class="ui blue progress" data-percent="{{ $perc }}" id="progressbar">
					<div class="bar">
						<div class="progress">{{ $perc }}%</div>
					</div>
				</div> -->
			</div>
			{{ if .can_submit }}
				<form class="ui form" id="b-form" style="position: relative; top: 5px;">
					<div class="ui fluid action input">
						<input tabindex="1" type="text" placeholder="https://ussr.pl/beatmaps/1918979" id="beatmap">
						{{ $f }}
						<button tabindex="2" class="ui button inverted blue">
							{{ $.T "Submit" }}
							<i class="fas fa-arrow-right" style="position: relative;top: 1px;left:4px;"></i>
						</button>
					</div>
				</form>
			{{ else }}
				<h3 class="ui header">{{ $.T "You have reached your daily limit for requesting beatmaps!" }}</h3>
				{{ with .next_expiration }}<p>{{ $.T "Please try again " }}<b>{{ timeAddDay . }}</b></p>{{ end }}
			{{ end }}
		{{ end }}
	</div>
</div>
{{ end }}
