{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Hall of Fame" }}</h1>
			<h3>{{ .T "This is a list of the outstanding individuals who keep RealistikOsu! the server and its community operating." }}</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Developer Team" }}</h1>
			<p>
				{{ .T "Developers are responsible for all the server side magic. They do all the behind the scene technical things." }}<br>
				{{ .T "They have full power over the server as they run it. Developers have a blue name in the in-game chat." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 2) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Administrator Team" }}</h1>
			<p>
				{{ .T "Administrator are all-mighty powerful beings that are here to ensure everything runs smoothly. This can be anything from organising events to hunting hackers. They are cool people ready to help you." }}<br>
				{{ .T "They have power in numerous sectors such as the discord server" | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1018) }}
		</div>
		
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Chat Moderation Team" }}</h1>
			<p>
				{{ .T "Chat moderators manage the chat to make sure The Law&trade; (the rules) is respected." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 30) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Moderators" }}</h1>
			<p>
				{{ .T "The Moderator Team is responsible for issuing restrictions and making sure everything runs smoothly." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1016) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Beatmap Appreciation Team" }}</h1>
			<p>
				{{ .T "BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 5) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Social Media Team" }}</h1>
			<p>
				{{ .T "The Social Media Team is responsible for anything regarding RealistikOsu's presence on social medias." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1017) }}
		</div>
	</div>
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Special credits" }}</h1>
			<p>{{ .T "Here's a list of people who helped with RealistikOsu and made everything possible!" }}</p>
		</div>
		<div class="ui segment">
			<ul class="ui list">
				<li>
					{{ .T "<b>Ripple</b> for providing a solid base for RealistikOsu to work off!" | html }}<br>
					Without Ripple's generous policy to <a href="https://github.com/osuripple">open source</a>, it is unlikely RealistikOsu would have even been started!
				</li>
				<li>
					{{ .T "<b>Franc[e]sco</b> and <b>cmyui</b> for the relax PP calculator!" | html }}<br>
					The relax calculator (originally created by <a href="https://github.com/Francesco149/oppai-ng">Franc[e]sco</a> and modified by cmyui for relax)
					is licensed under GPL v3. Their implementation can be found <a href="https://github.com/osuAkatsuki/akatsuki-pp">here</a>.
				</li>
				<li>
					{{ .T "<b>jrosdahl</b>, for <a href='https://github.com/jrosdahl/miniircd'>miniircd</a>, used as a base for our IRC server." | html }}<br>
					miniircd is licensed under GPL v2. Our implementation can be found <a href="https://github.com/RealistikOsu/pep.py/src/master/irc/ircserver.py">here</a>.
				</li>
				<li>
					<b><a href="https://hentai.ninja/beatmaps">Kotrik</a></b> for creating the beatmap browser used within our frontend.
				</li>
				<li>{{ .T "<b><a id='everyone' class='clickable'>Everyone</a></b> who has followed us through this amazing journey!" | html }}</li>
			</ul>
		</div>
	</div>
	{{ $ := . }}
	<div class="ui modal">
		<div class="header"><h2 class="ui header">{{ .T "Some of our amazing players!" }}</h2></div>
		{{ with .Get "users?sort=donor_expire,desc&l=52" }}
			<div class="content">
				<div class="ui four column grid">
					{{ range .users }}
						<div class="column">
							<h4 class="ui image header">
								<img src="{{ config "AvatarURL" }}/{{ .id }}" class="ui micro rounded image">
								<div class="content">
									<a href="/u/{{ .id }}">{{ .username }}</a>
								</div>
							</h4>
						</div>
					{{ end }}
				</div>
				<br>
				<div class="centered">
					<b>{{ $.T "And more..." }}</b><br><br>
					<b>{{ $.T "Do you want to be in this list?" }}</b><br>
					<a href="/donate"><b>{{ $.T "Support us with a donation!" }}</b></a><br>
					<i>{{ $.T "(You get other cool perks too)" }}</i>
				</div>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
